<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 2</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/pagina.css">
    <link rel="stylesheet" href="css/footer.css">
    <style>
        main {
            background: url("../img/pagina2.jpg");
            background-size: cover;
        }
    </style> 
</head>
<body>
    <header>
        <a href="/">Login</a>
        <a href="/pagina1">Página 1</a>
        <a href="/pagina2">Página 2</a>
        <a href="/pagina3">Página 3</a>
    </header>
    <main>
        <div class="content">
            <h1>Página 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati alias est necessitatibus error reprehenderit sunt dignissimos ipsa, iste quas non recusandae ducimus sint adipisci voluptatum qui magni accusantium ullam voluptate aliquid, autem nulla blanditiis voluptas distinctio praesentium? Eum officia rerum, vel quae quasi nam quis laborum, facilis iusto exercitationem sed!</p>
        </div>
    </main>
    <footer>
        <p>Victor Goya Pinto RGM - 30249414</p>
        <p>Lucas Da Silva Trindade RGM - 29978751</p>
    </footer>
</body>
</html>