<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 3</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/pagina.css">
    <link rel="stylesheet" href="css/footer.css">
    <style>
        main {
            background: url("../img/pagina3.jpg");
            background-size: cover;
        }
    </style> 
</head>
<body>
    <header>
        <a href="/">Login</a>
        <a href="/pagina1">Página 1</a>
        <a href="/pagina2">Página 2</a>
        <a href="/pagina3">Página 3</a>
    </header>
    <main>
        <div class="content">
            <h1>Página 3</h1>
            <form action="" class="form_contatos">
                <div class="container_campo">
                    <label for="">Nome:</label>
                    <input type="text" name="" id="">
                </div>
                <br>
                <div class="container_campo">
                    <label for="">E-mail:</label>
                    <input type="email" name="" id="">
                </div>
                <br>
                <div class="container_campo">
                    <label for="">Telefone:</label>
                    <input type="text" name="" id="">
                </div>
                <br>
                <button>Enviar</button>
            </form>
        </div>
    </main>
    <footer>
        <p>Victor Goya Pinto RGM - 30249414</p>
        <p>Lucas Da Silva Trindade RGM - 29978751</p>
    </footer>
</body>
</html>